.backGroungImg {
    position: absolute;
    top: 59px;
    left: 0;
    /* width: 1680px; */
    /* height: 772px; */
    object-fit: cover;
  }
 .loginLogo{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f2f2f4;
    box-shadow: 0 10px 20px rgba(194, 194, 194, 0.16);
    width: 100%;
    height: 61px;
  }
  .container {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-gray-200);
    width: 566px;
    height: 445px;
  }
  .loginContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 566px;
    height: 445px;
}
  .blind-2-icon {
    height: 1.77%;
    width: 1.5%;
    top: 51.2%;
    right: 33.5%;
    bottom: 47.03%;
    left: 65%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .gst-cam-939-10-1 {
    position: absolute;
    top: 163px;
    left: -170px;
    width: 506px;
    height: 506px;
    object-fit: cover;
    display: none;
  }

 .password {
  position: absolute;
  line-height: 14.5px;
  display: inline-block;
  background-color: transparent;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-white);
  width: 461px;
  height: 39px;
  
  outline: none; /* Remove outline on focus */
  padding: 0 10px; /* Add some padding for better visual */
  font-size: 14px; /* Adjust font size */
  color: var(--color-black); /* Adjust text color */
 
}
  .emailInner,
  .rectangle-parent {
    position: absolute;
    top: 230px;
    left: 55px;
    width: 459px;
    height: 37px;
  }
 
  input::placeholder {
    color: white;
  }
  .enter-email {
    position: absolute;
    line-height: 14.5px;
    display: inline-block;
    border-radius: var(--br-3xs);
    width: 461px;
    height: 39px;
    border: none; /* Remove border to override the default border style */
    outline: none; /* Remove outline on focus */
    padding: 0 10px; /* Add some padding for better visual */
    font-size: 14px; /* Adjust font size */
    color: var(--color-white); /* Adjust text color */
    background-color: transparent;
    border: 1px solid var(--color-white);
  }
  .emailContainer1 {
    position: absolute;
    
    top: 102px;
    left: 55px;
    width: 459px;
    height: 37px;
    display: flex;
    flex-direction: column;
    
   
}

.input-field {
  
  top: 12px;
  background-color: transparent;
  border: 1px solid var(--color-white);
  border-radius: var(--br-3xs);
  padding: 8px 10px; 
  margin-bottom: 5px; 

  
}

  .logoName,
  .logo {
    position: absolute;
    top: 20px;
    left: 61px;
    width: 122px;
    height: 22px;
    object-fit: cover;
  }
  .logo {
    top: 9px;
    left: 29px;
    width: 32px;
    height: 44px;
  }
  .login-page {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 832px;
    cursor: pointer;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
.containerHeader,
.or-continue-with {
  position: absolute;
  display: inline-block;
}
.containerHeader{
  top: 20px;
  left: 224px;
  font-size: var(--font-size-xl);
  line-height: 44px;
  font-weight: 600;
  width: 121px;
  height: 33px;

}
.or-continue-with {
  top: 130px;
  left: 232px;
  line-height: 14.5px;
  width: 120px;
  height: 11px;
}
.recover-password {
    position: absolute;
    top: 285px;
    left: 400px;
    line-height: 14.5px;
    font-weight: 200;
    color: var(--color-gainsboro);
    cursor: pointer;
  }
  .default {
    position: absolute;
    height: 5.01%;
    width: 6.77%;
    top: 63.56%;
    right: 93.23%;
    bottom: 16.43%;
    left: 52px;
    border-radius: var(--br-17xl-5);
    background-color: var(--color-whitesmoke-100);
    border: 0.5px solid var(--color-white);
    box-sizing: border-box;
  }
  .knob-20 {
    position: absolute;
    height: 3.61%;
    width: 3.38%;
    top: 64.4%;
    right: 96.2%;
    bottom: 17.14%;
    left: 9.42%;
    border-radius: var(--br-xs);
    background-color: var(--color-lightsteelblue);
    box-shadow: 1px 1px 2px -1px rgba(51, 51, 51, 0.3);
  }
  .toggleClass {
    position: absolute;
    top: 285px;
    left: calc(50% - 225.5px);
    letter-spacing: 0.3px;
    line-height: 20px;
    color: var(--color-white);
    /* display: inline-block;
    width: 108px; */
}
  .button-child {
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    width: 460px;
    height: 42.4px;
  }
  .button,
  .button-child,
  .login {
    position: absolute;
  }
  .login {
    top: 13px;
    left: 212px;
    line-height: 11.96px;
    display: inline-block;
    width: 35px;
    height: 15px;
  }
  .button {
    top: 318px;
    left: 55px;
    width: 460px;
    height: 42.4px;
    font-size: var(--font-size-smi);
    color: var(--color-gray-200);
  }

.vectorLeft,
.vectorRight {
  position: absolute;
  top: 136.5px;
  left: 100px;
  width: 95px;
  height: 1px;
}
.vectorRight {
    left: 350px;
  }
.sign-up-details {
    position: absolute;
    top: 204px;
    left: 415px;
    width: 471px;
    height: 349.4px;
    text-align: left;
    font-size: var(--font-size-3xs);
    color: var(--color-gray-100);
    font-family: var(--font-poppins);
  }
  /* For small screens */
@media only screen and (max-width: 600px) {
    .white-paper-texture-1-icon,
    .login-logo,
    .group-child,
    .blind-2-icon,
    .gst-cam-939-10-1,
    .group-item,
    .emailInner,
    .emailContainer,
    .sigmahealthpro-converted-3,
    .sigmahealthpro-converted-4,
    .login-patient-inner {
      width: 100%;
      left: 0;
    }
  
    .login-logo,
    .containerHeader,
    .or-continue-with,
    .recover-password,
    .default,
    .knob-20,
    .description,
    .button,
    .button-child,
    .login {
      left: 0;
    }
  
    
  }
  